* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: grid;
}

body {
    min-height: 100vh;
    display: grid;
    position: relative;
    padding-bottom: 6rem;
    background-color: hsl(233, 47%, 7%);
}

/*card styles*/

main {
    margin: auto;
    min-width: 327px;
    max-width: 87.2%;
    overflow: hidden;
    border-radius: 8px;
    background-color: hsl(244, 38%, 16%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    min-height: 240px;
    overflow: hidden;
    background-image: url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: overlay;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 31.5px 0;
}

.title {
    font-size: 2rem;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.declaration {
    margin: 16px auto 0;
    line-height: 1.6;
    color: hsla(0, 0%, 100%, 0.557);
}


.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 40px 32px 32px;
}

.numbers {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 2rem;
}

.stat-container p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.557);
    letter-spacing: .1rem;
    line-height: 2;
}


/*footer styles*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*media*/

@media only screen and (min-width: 376px) {

    main {
        max-width: 1110px;
        flex-direction: row-reverse;
        align-items: stretch
    }
    
    .image {
        background-image: url(./images/image-header-desktop.jpg);    
    }

    .text {
        width: 51.35%;
        text-align: left;
    }

    .title {
        margin : 3.5% 3.5% 0 3.5%;
    }

    .declaration {
        margin: 6.5% 3.5% 3.5% 3.5%;
    }

    .stats {
        flex-direction: row;
        margin-bottom: 60px;
        gap: 60px
    }

    .numbers {
        font-size: 1.5rem;
    }

    .stat-container p {
        line-height: 3;
    }

}